# GÉNÉRÉ — ne pas éditer à la main. Source : src/lib/datahub/streams.ts + prisma/schema.prisma
# Régénérer : npm run datahub:openapi
openapi: "3.1.0"
info:
  title: "Guichet Jeunesse — Data Hub API"
  version: "2.0"
  description: "API d'export incrémental du Guichet Jeunesse CJS, consommée par le tap Meltano du Data Hub. Les outils BI lisent l'entrepôt PostgreSQL, pas cette API.\n\nCe fichier est GÉNÉRÉ depuis le contrat d'export (src/lib/datahub/streams.ts) et la documentation du schéma. Ne pas l'éditer à la main : npm run datahub:openapi."
servers:
  - url: "https://guichet.cjs.sn/api/v1"
    description: "Production"
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: "http"
      scheme: "bearer"
      description: "Clé API Data Hub. Refusée si la variable n'est pas configurée côté serveur (GUIC-631)."
  parameters:
    since:
      name: "since"
      in: "query"
      description: "Borne basse sur la colonne de réplication, ISO 8601. Le consommateur doit appliquer un recouvrement de quelques minutes sur son dernier point d'arrêt : la colonne est posée à l'écriture applicative, pas au commit, et une transaction committée en retard serait sinon jamais extraite."
      schema:
        type: "string"
        format: "date-time"
    sinceRequis:
      name: "since"
      in: "query"
      required: true
      description: "Borne basse, ISO 8601 — OBLIGATOIRE sur cet endpoint (GUIC-697 D6) : un comptage non borné sur les 13 flux, dont `consultations`, dépasse `maxDuration = 60`."
      schema:
        type: "string"
        format: "date-time"
    cursor:
      name: "cursor"
      in: "query"
      description: "Curseur opaque renvoyé par la page précédente. Exclusif avec `since`."
      schema:
        type: "string"
    limit:
      name: "limit"
      in: "query"
      description: "Taille de page."
      schema:
        type: "integer"
        default: 1000
        minimum: 1
        maximum: 5000
  schemas:
    Meta:
      type: "object"
      description: "Pagination par curseur. `next_cursor` est opaque et doit être renvoyé tel quel ; il n'y a pas de total, un COUNT par page coûtant plus cher que la page elle-même."
      properties:
        next_cursor:
          type:
            - "string"
            - "null"
          description: "Curseur de la page suivante, null à la fin."
        has_more:
          type: "boolean"
          description: "Une page suivante existe."
        replication_key:
          type: "string"
          description: "Colonne portant le watermark de ce flux."
        generated_at:
          type: "string"
          format: "date-time"
          description: "Horodatage de la réponse."
    Erreur:
      type: "object"
      properties:
        error:
          type: "object"
          properties:
            code:
              type: "string"
            message:
              type: "string"
    utilisateursRow:
      type: "object"
      description: "Compte issu du SSO CJS. Aucun mot de passe n'est stocké ici : l'authentification appartient au SSO, ce modèle n'en cache que l'identité et les attributs de profilage."
      properties:
        cjs_uid:
          type: "string"
          description: "Claim `sub` du token SSO — identifiant pivot du jeune dans tout l'écosystème CJS, et seule clé de jointure inter-plateformes."
          "x-cjs-tier": "pseudonyme"
        region:
          type:
            - "string"
            - "null"
          enum:
            - "Dakar"
            - "Thies"
            - "Diourbel"
            - "Fatick"
            - "Kaolack"
            - "Kaffrine"
            - "Louga"
            - "Saint_Louis"
            - "Matam"
            - "Tambacounda"
            - "Kedougou"
            - "Kolda"
            - "Ziguinchor"
            - "Sedhiou"
          description: "Région administrative de résidence, parmi les 14 du Sénégal."
          "x-cjs-tier": "public"
        commune:
          type:
            - "string"
            - "null"
          description: "Commune de résidence, saisie libre à l'onboarding — non normalisée."
          "x-cjs-tier": "public"
        genre:
          type:
            - "string"
            - "null"
          enum:
            - "M"
            - "F"
          description: "Genre déclaré : `M` ou `F`."
          "x-cjs-tier": "public"
        tranche_age:
          type: "string"
          description: "Tranche d'âge à la date d'extraction : -18, 18-24, 25-29, 30-34, 35+, ou inconnu quand la date de naissance est absente ou aberrante. Dérivée d'une donnée identifiante qui, elle, n'est jamais exportée."
          "x-cjs-tier": "public"
        statut:
          type: "string"
          enum:
            - "actif"
            - "inactif"
            - "anonymise"
          description: "État du compte : `actif`, `inactif`, ou `anonymise` après exercice du droit à l'oubli."
          "x-cjs-tier": "public"
        role:
          type:
            - "string"
            - "null"
          description: "Rôle principal mis en cache depuis le SSO (source de vérité = SSO ; synchronisé au login)."
          "x-cjs-tier": "public"
        onboarding_complete:
          type: "boolean"
          description: "Le parcours d'onboarding a été mené à son terme. Distingue un compte créé d'un compte réellement activé."
          "x-cjs-tier": "public"
        date_inscription:
          type: "string"
          format: "date-time"
          description: "Date de création du compte — sert de date d'inscription dans les indicateurs."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification du compte. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
        deleted_at:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Suppression logique. Non nulle, la ligne reste exportée avec cette date pour que l'entrepôt propage la suppression au lieu de conserver un fantôme."
          "x-cjs-tier": "public"
    profils_jeunesRow:
      type: "object"
      description: "Profil bénéficiaire, rattaché 1:1 à un compte. Porte les données déclaratives d'orientation et d'inclusion, toutes facultatives et auto-déclarées."
      properties:
        id:
          type: "string"
          description: "Identifiant technique du profil, distinct du `cjs_uid` du compte porteur."
          "x-cjs-tier": "pseudonyme"
        cjs_uid:
          type: "string"
          description: "Compte porteur du profil — clé de jointure vers `utilisateurs`."
          "x-cjs-tier": "pseudonyme"
        niveau_etude:
          type:
            - "string"
            - "null"
          description: "Niveau d'études le plus élevé atteint, déclaré par le jeune."
          "x-cjs-tier": "public"
        situation_emploi:
          type:
            - "string"
            - "null"
          description: "Situation professionnelle déclarée au moment de la dernière mise à jour du profil."
          "x-cjs-tier": "public"
        situation_handicap:
          type:
            - "string"
            - "null"
          enum:
            - "aucun"
            - "moteur"
            - "visuel"
            - "auditif"
            - "autre"
            - "non_precise"
          description: "Situation de handicap auto-déclarée : `aucun`, `moteur`, `visuel`, `auditif`, `autre`, `non_precise`. Facultative et hors score de complétion (GUIC-660)."
          "x-cjs-tier": "public"
        zone_habitation:
          type:
            - "string"
            - "null"
          enum:
            - "rural"
            - "urbain"
          description: "Zone d'habitation auto-déclarée : `rural` ou `urbain`. Facultative (GUIC-660)."
          "x-cjs-tier": "public"
        completion_score:
          type: "integer"
          description: "Score 0–100 calculé et mis à jour dans ProfilService.recalculerScore()"
          "x-cjs-tier": "public"
        centre_principal_id:
          type:
            - "string"
            - "null"
          description: "Centre de rattachement principal, suggéré à l'onboarding depuis la région SSO puis modifiable."
          "x-cjs-tier": "pseudonyme"
        created_at:
          type: "string"
          format: "date-time"
          description: "Date de création du profil."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification du profil. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
    opportunitesRow:
      type: "object"
      description: "Table mère M3 v2 (CTI). Colonnes legacy (type, organisation) conservées pendant la migration data — supprimées en 178d après backfill. Les colonnes polymorphiques (typeId, programmeId, organisationId déjà présent, organisationLibelle, niveauEtudeMin) sont ajoutées en NULL dans cette étape (178b) pour ne pas casser les rows existantes ; elles passent NOT NULL en 178d. L'invariant XOR (1 et 1 seul sous-type non null) est garanti côté applicatif via OpportuniteService — cf. spec §8.4 et `opportunite-integrity.ts`."
      properties:
        id:
          type: "string"
          description: "Identifiant de l'opportunité."
          "x-cjs-tier": "pseudonyme"
        slug:
          type: "string"
          description: "Identifiant lisible utilisé dans l'URL publique."
          "x-cjs-tier": "public"
        titre:
          type: "string"
          description: "Intitulé de l'offre tel qu'affiché au public."
          "x-cjs-tier": "public"
        type_legacy:
          type: "string"
          enum:
            - "Emploi"
            - "Stage"
            - "Formation"
            - "Bourse"
            - "Volontariat"
            - "Appel_a_projets"
          description: "Type historique de l'offre (enum legacy). Conservé le temps de la migration polymorphique ; `type_id` est la forme cible."
          "x-cjs-tier": "public"
        type_id:
          type:
            - "string"
            - "null"
          description: "Type de l'offre dans le référentiel polymorphique. Nullable tant que la migration des données legacy n'est pas achevée."
          "x-cjs-tier": "pseudonyme"
        domaine:
          type: "string"
          enum:
            - "Agriculture"
            - "Numerique"
            - "Entrepreneuriat"
            - "Citoyennete"
            - "Environnement"
            - "Sante"
            - "Education"
            - "Culture"
            - "Autre"
          description: "Secteur d'activité : agriculture, numérique, entrepreneuriat, citoyenneté, environnement, santé, éducation, culture, autre."
          "x-cjs-tier": "public"
        region:
          type:
            - "string"
            - "null"
          enum:
            - "Dakar"
            - "Thies"
            - "Diourbel"
            - "Fatick"
            - "Kaolack"
            - "Kaffrine"
            - "Louga"
            - "Saint_Louis"
            - "Matam"
            - "Tambacounda"
            - "Kedougou"
            - "Kolda"
            - "Ziguinchor"
            - "Sedhiou"
          description: "Région ciblée par l'offre — pas nécessairement celle du candidat."
          "x-cjs-tier": "public"
        organisation_id:
          type:
            - "string"
            - "null"
          description: "Organisation émettrice dans le référentiel. Nullable pour les offres importées sans organisation identifiée."
          "x-cjs-tier": "pseudonyme"
        organisation_libelle:
          type:
            - "string"
            - "null"
          description: "Nom de l'organisation émettrice tel qu'affiché, y compris quand elle n'est pas au référentiel."
          "x-cjs-tier": "public"
        niveau_etude_min:
          type:
            - "string"
            - "null"
          enum:
            - "BFEM"
            - "BAC"
            - "BAC_PLUS_2"
            - "BAC_PLUS_3"
            - "BAC_PLUS_5"
            - "DOCTORAT"
          description: "Niveau d'études minimum requis, tel que renseigné par l'émetteur."
          "x-cjs-tier": "public"
        remuneration:
          type:
            - "string"
            - "null"
          description: "Rémunération annoncée, en texte libre — non normalisée, non comparable entre offres."
          "x-cjs-tier": "public"
        deadline:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Date limite de candidature. Au-delà, l'offre passe en `expiree`."
          "x-cjs-tier": "public"
        statut:
          type: "string"
          enum:
            - "brouillon"
            - "publiee"
            - "archivee"
            - "expiree"
          description: "Cycle de vie éditorial : `brouillon`, `publiee`, `archivee`, `expiree`."
          "x-cjs-tier": "public"
        recruteur_uid:
          type:
            - "string"
            - "null"
          description: "Recruteur propriétaire de l'offre, quand elle a été déposée depuis l'espace recruteur."
          "x-cjs-tier": "pseudonyme"
        vues:
          type: "integer"
          description: "Compteur cumulé d'affichages du détail. Incrémenté en direct, sans déduplication par visiteur."
          "x-cjs-tier": "public"
        created_at:
          type: "string"
          format: "date-time"
          description: "Date de création de l'offre."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification de l'offre. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
        deleted_at:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Suppression logique. Non nulle, la ligne reste exportée pour que l'entrepôt propage la suppression."
          "x-cjs-tier": "public"
    candidaturesRow:
      type: "object"
      description: "Candidature d'un jeune à une opportunité, unique par couple (jeune, opportunité). Porte la traçabilité du consentement CGU exigée par la CDP."
      properties:
        id:
          type: "string"
          description: "Identifiant de la candidature."
          "x-cjs-tier": "pseudonyme"
        cjs_uid:
          type: "string"
          description: "Jeune candidat — clé de jointure vers `utilisateurs`."
          "x-cjs-tier": "pseudonyme"
        opportunite_id:
          type: "string"
          description: "Offre visée — clé de jointure vers `opportunites`."
          "x-cjs-tier": "pseudonyme"
        statut:
          type: "string"
          enum:
            - "En_attente"
            - "Vue"
            - "Retenue"
            - "Refusee"
          description: "Décision côté offre : `En_attente`, `Vue`, `Retenue`, `Refusee`."
          "x-cjs-tier": "public"
        pipeline_stage:
          type: "string"
          enum:
            - "Recue"
            - "Preselection"
            - "Entretien"
            - "Decision"
          description: "Étape du pipeline recruteur : `Recue`, `Preselection`, `Entretien`, `Decision`. Distincte du statut, qui porte la décision finale."
          "x-cjs-tier": "public"
        score_adequation:
          type:
            - "integer"
            - "null"
          description: "Score d'adéquation candidat/offre calculé par IA, de 0 à 100. Nul tant que le calcul de fond n'a pas eu lieu."
          "x-cjs-tier": "public"
        score_calcule_le:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Date du calcul du score d'adéquation. Permet de distinguer un score absent d'un score jamais calculé."
          "x-cjs-tier": "public"
        favori_recruteur:
          type: "boolean"
          description: "Candidature marquée comme favorite par le recruteur."
          "x-cjs-tier": "public"
        notifications_consent:
          type: "boolean"
          description: "Le candidat a accepté d'être notifié du suivi de sa candidature."
          "x-cjs-tier": "public"
        consent_at:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Horodatage de l'acceptation des CGU. Traçabilité exigée par l'audit CDP."
          "x-cjs-tier": "public"
        cgu_version:
          type:
            - "string"
            - "null"
          description: "Version des CGU acceptée, pour savoir à quel texte le consentement se rapporte."
          "x-cjs-tier": "public"
        soumise_a:
          type: "string"
          format: "date-time"
          description: "Date de soumission de la candidature — début du délai de traitement."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
    evenementsRow:
      type: "object"
      description: "Événement du calendrier CJS — formation, atelier, forum, webinaire, conférence ou cours en centre."
      properties:
        id:
          type: "string"
          description: "Identifiant de l'événement."
          "x-cjs-tier": "pseudonyme"
        titre:
          type: "string"
          description: "Intitulé de l'événement tel qu'affiché."
          "x-cjs-tier": "public"
        type:
          type: "string"
          enum:
            - "Formation"
            - "Atelier"
            - "Forum"
            - "Webinar"
            - "Conference"
            - "Cours"
          description: "Nature de l'événement : formation, atelier, forum, webinaire, conférence, cours."
          "x-cjs-tier": "public"
        statut:
          type: "string"
          enum:
            - "a_venir"
            - "en_cours"
            - "termine"
            - "annule"
            - "en_relecture"
            - "refuse"
          description: "Cycle de vie : `a_venir`, `en_cours`, `termine`, `annule`, plus `en_relecture` et `refuse` pour la validation admin."
          "x-cjs-tier": "public"
        date_debut:
          type: "string"
          format: "date-time"
          description: "Début de l'événement."
          "x-cjs-tier": "public"
        date_fin:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Fin de l'événement."
          "x-cjs-tier": "public"
        lieu:
          type: "string"
          description: "Lieu tel que saisi, en texte libre — non géocodé."
          "x-cjs-tier": "public"
        centre_id:
          type:
            - "string"
            - "null"
          description: "Centre organisateur, quand l'événement s'y tient."
          "x-cjs-tier": "pseudonyme"
        capacite_max:
          type:
            - "integer"
            - "null"
          description: "Nombre de places. Au-delà, les inscriptions basculent en liste d'attente."
          "x-cjs-tier": "public"
        est_gratuit:
          type: "boolean"
          description: "Participation gratuite."
          "x-cjs-tier": "public"
        created_at:
          type: "string"
          format: "date-time"
          description: "Date de création de la fiche."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
    inscriptions_evenementsRow:
      type: "object"
      description: "Inscription d'un jeune à un événement, unique par couple (jeune, événement). Le statut `present` matérialise la présence constatée, pas l'intention."
      properties:
        id:
          type: "string"
          description: "Identifiant de l'inscription."
          "x-cjs-tier": "pseudonyme"
        cjs_uid:
          type: "string"
          description: "Jeune inscrit — clé de jointure vers `utilisateurs`."
          "x-cjs-tier": "pseudonyme"
        evenement_id:
          type: "string"
          description: "Événement concerné — clé de jointure vers `evenements`."
          "x-cjs-tier": "pseudonyme"
        statut:
          type: "string"
          enum:
            - "inscrit"
            - "liste_attente"
            - "annule"
            - "present"
          description: "`inscrit`, `liste_attente`, `annule`, ou `present` une fois la présence constatée."
          "x-cjs-tier": "public"
        inscrit_a:
          type: "string"
          format: "date-time"
          description: "Date de l'inscription."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
    centresRow:
      type: "object"
      description: "Centre CJS physique. Référentiel géographique de toute la fréquentation : réservations, passages badgés, emprunts."
      properties:
        id:
          type: "string"
          description: "Identifiant du centre."
          "x-cjs-tier": "pseudonyme"
        nom_centre:
          type: "string"
          description: "Nom du centre — désigne l'établissement, jamais une personne."
          "x-cjs-tier": "public"
        slug:
          type:
            - "string"
            - "null"
          description: "Identifiant lisible utilisé dans l'URL publique."
          "x-cjs-tier": "public"
        region:
          type: "string"
          enum:
            - "Dakar"
            - "Thies"
            - "Diourbel"
            - "Fatick"
            - "Kaolack"
            - "Kaffrine"
            - "Louga"
            - "Saint_Louis"
            - "Matam"
            - "Tambacounda"
            - "Kedougou"
            - "Kolda"
            - "Ziguinchor"
            - "Sedhiou"
          description: "Région d'implantation."
          "x-cjs-tier": "public"
        ville:
          type:
            - "string"
            - "null"
          description: "Ville d'implantation."
          "x-cjs-tier": "public"
        adresse:
          type: "string"
          description: "Adresse postale du centre. Donnée d'établissement, publiée sur la fiche."
          "x-cjs-tier": "public"
        latitude:
          type: "number"
          description: "Latitude du centre, pour la carte et les calculs de proximité."
          "x-cjs-tier": "public"
        longitude:
          type: "number"
          description: "Longitude du centre."
          "x-cjs-tier": "public"
        est_actif:
          type: "boolean"
          description: "Centre ouvert au public. Un centre inactif reste référencé mais n'accepte plus de réservation."
          "x-cjs-tier": "public"
        conseillers_count:
          type: "integer"
          description: "Nombre de conseillers affectés, saisi et non calculé."
          "x-cjs-tier": "public"
        gc_id:
          type:
            - "integer"
            - "null"
          description: "Identifiant du centre dans la plateforme Gestion Centres — clé de rapprochement inter-plateformes."
          "x-cjs-tier": "pseudonyme"
        created_at:
          type: "string"
          format: "date-time"
          description: "Date de création de la fiche."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
    reservationsRow:
      type: "object"
      description: "Réservation d'une ressource par un jeune. MVP : auto-validée (statut=Acceptee) à la création. Sprint+1 : workflow approval activable (StatutReservation.EnAttente)."
      properties:
        id:
          type: "string"
          description: "Identifiant de la réservation."
          "x-cjs-tier": "pseudonyme"
        cjs_uid:
          type: "string"
          description: "Jeune réservant — clé de jointure vers `utilisateurs`."
          "x-cjs-tier": "pseudonyme"
        centre_id:
          type: "string"
          description: "Centre où la ressource est réservée."
          "x-cjs-tier": "pseudonyme"
        ressource_id:
          type: "string"
          description: "Ressource matérielle réservée au sein du centre."
          "x-cjs-tier": "pseudonyme"
        date_reservee:
          type: "string"
          format: "date-time"
          description: "Jour calendaire réservé, sans heure — le créneau porte l'horaire."
          "x-cjs-tier": "public"
        creneau_debut:
          type: "string"
          description: "Heure de début du créneau, au format HH:MM."
          "x-cjs-tier": "public"
        creneau_fin:
          type: "string"
          description: "Heure de fin du créneau, au format HH:MM."
          "x-cjs-tier": "public"
        nombre_personnes:
          type: "integer"
          description: "Nombre de personnes annoncées pour le créneau."
          "x-cjs-tier": "public"
        statut:
          type: "string"
          enum:
            - "EnAttente"
            - "Acceptee"
            - "Refusee"
            - "AnnuleeParJeune"
            - "AnnuleeParCentre"
            - "Passee"
            - "NonHonoree"
          description: "`EnAttente`, `Acceptee`, `Refusee`, `AnnuleeParJeune`, `AnnuleeParCentre`, puis `Passee` ou `NonHonoree` posés par le batch quotidien."
          "x-cjs-tier": "public"
        no_show:
          type: "boolean"
          description: "Absence constatée : créneau passé sans passage badgé associé."
          "x-cjs-tier": "public"
        decision_a:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Horodatage de la décision du centre sur la réservation."
          "x-cjs-tier": "public"
        annulee_a:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Horodatage de l'annulation, quelle qu'en soit l'origine."
          "x-cjs-tier": "public"
        created_at:
          type: "string"
          format: "date-time"
          description: "Date de la demande de réservation."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "M13 — watermark de réplication Data Hub : le statut évolue (décision, annulation) sans qu'aucune colonne ne datait la modification."
          "x-cjs-tier": "public"
    checkinsRow:
      type: "object"
      description: "Check-in physique d'un jeune dans un centre (KPI fréquentation principal)."
      properties:
        id:
          type: "string"
          description: "Identifiant du passage."
          "x-cjs-tier": "pseudonyme"
        cjs_uid:
          type: "string"
          description: "Jeune ayant badgé — clé de jointure vers `utilisateurs`."
          "x-cjs-tier": "pseudonyme"
        centre_id:
          type: "string"
          description: "Centre où le passage a été enregistré."
          "x-cjs-tier": "pseudonyme"
        reservation_id:
          type:
            - "string"
            - "null"
          description: "Réservation honorée par ce passage, quand il y en a une. Nul pour une visite spontanée."
          "x-cjs-tier": "pseudonyme"
        via:
          type: "string"
          enum:
            - "QrCard"
            - "Manuel"
          description: "Mode d'enregistrement : `QrCard` par scan de la MyCJSCard, `Manuel` par saisie du staff."
          "x-cjs-tier": "public"
        effectue_a:
          type: "string"
          format: "date-time"
          description: "Horodatage du passage. Table append-only : sert de watermark de réplication."
          "x-cjs-tier": "public"
        dwell_minutes:
          type:
            - "integer"
            - "null"
          description: "Durée de présence en minutes, quand elle a pu être mesurée."
          "x-cjs-tier": "public"
    ressourcesRow:
      type: "object"
      description: "Ressource documentaire du catalogue — PDF, vidéo, lien, guide ou outil."
      properties:
        id:
          type: "string"
          description: "Identifiant de la ressource."
          "x-cjs-tier": "pseudonyme"
        titre:
          type: "string"
          description: "Intitulé de la ressource tel qu'affiché."
          "x-cjs-tier": "public"
        type:
          type: "string"
          enum:
            - "PDF"
            - "Video"
            - "Lien"
            - "Guide"
            - "Outil"
          description: "Support : `PDF`, `Video`, `Lien`, `Guide`, `Outil`."
          "x-cjs-tier": "public"
        theme:
          type: "string"
          description: "Thématique principale, saisie libre côté admin."
          "x-cjs-tier": "public"
        categorie:
          type:
            - "string"
            - "null"
          description: "Catégorie de classement complémentaire au thème."
          "x-cjs-tier": "public"
        niveau:
          type:
            - "string"
            - "null"
          enum:
            - "Debutant"
            - "Intermediaire"
            - "Avance"
          description: "GUIC-24 — filtres avancés. Nullable : enrichissement progressif côté admin."
          "x-cjs-tier": "public"
        langue:
          type:
            - "string"
            - "null"
          enum:
            - "FR"
            - "Wolof"
          description: "Langue du contenu."
          "x-cjs-tier": "public"
        est_public:
          type: "boolean"
          description: "Ressource accessible sans authentification."
          "x-cjs-tier": "public"
        vues:
          type: "integer"
          description: "Compteur cumulé de consultations. Incrémenté en direct, sans déduplication par visiteur."
          "x-cjs-tier": "public"
        created_at:
          type: "string"
          format: "date-time"
          description: "Date de publication de la ressource."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
    consultationsRow:
      type: "object"
      description: "Table INSERT-only. Aucune FK polymorphe (non supporté par Prisma) : l'intégrité repose sur l'applicatif, comme `CentreEvent`. Aucune rétention/purge (décision PO GUIC-688 : on conserve tout)."
      properties:
        id:
          type: "string"
          description: "Identifiant de la consultation."
          "x-cjs-tier": "pseudonyme"
        type_entite:
          type: "string"
          enum:
            - "opportunite"
            - "ressource"
            - "evenement"
            - "centre"
            - "livre"
            - "programme"
            - "organisation"
          description: "Nature de l'entité consultée : opportunité, ressource, événement, centre, livre, programme, organisation."
          "x-cjs-tier": "public"
        entite_id:
          type: "string"
          description: "Identifiant de l'entité consultée. Pas de clé étrangère : la relation est polymorphe et l'intégrité repose sur l'applicatif."
          "x-cjs-tier": "pseudonyme"
        type_event:
          type: "string"
          enum:
            - "impression"
            - "consultation"
          description: "`impression` quand le contenu a été présenté, `consultation` quand il a été ouvert. Le rapport des deux donne le taux de clic."
          "x-cjs-tier": "public"
        canal:
          type: "string"
          enum:
            - "web"
            - "ia_web"
            - "whatsapp"
          description: "Canal d'origine : `web`, `ia_web` pour l'agent Yaye sur le site, `whatsapp`."
          "x-cjs-tier": "public"
        cjs_uid:
          type:
            - "string"
            - "null"
          description: "Null si visiteur anonyme."
          "x-cjs-tier": "pseudonyme"
        sujet_hash:
          type:
            - "string"
            - "null"
          description: "Pseudonyme HMAC-SHA256 du visiteur anonyme (empreinte IP + user-agent, jamais stockées en clair). Null pour un utilisateur connecté : son parcours se suit par cjs_uid."
          "x-cjs-tier": "pseudonyme"
        origine:
          type:
            - "string"
            - "null"
          description: "reco_ia | recherche | favoris | notification | direct | ia | wa"
          "x-cjs-tier": "public"
        session_id:
          type:
            - "string"
            - "null"
          description: "Corrèle avec `AgentLog.sessionId` pour les canaux IA/WhatsApp."
          "x-cjs-tier": "pseudonyme"
        created_at:
          type: "string"
          format: "date-time"
          description: "Horodatage de la consultation. Table append-only : sert de watermark de réplication."
          "x-cjs-tier": "public"
    empruntsRow:
      type: "object"
      description: "Emprunt d'un exemplaire par un bénéficiaire. GUIC-343. Cycle : initie (en ligne) → en_cours (scan badge au centre) → rendu (scan retour)."
      properties:
        id:
          type: "string"
          description: "Identifiant de l'emprunt."
          "x-cjs-tier": "pseudonyme"
        cjs_uid:
          type: "string"
          description: "Jeune emprunteur — clé de jointure vers `utilisateurs`."
          "x-cjs-tier": "pseudonyme"
        exemplaire_id:
          type: "string"
          description: "Exemplaire physique emprunté, localisé dans un centre."
          "x-cjs-tier": "pseudonyme"
        statut:
          type: "string"
          enum:
            - "initie"
            - "en_cours"
            - "rendu"
            - "en_retard"
            - "annule"
          description: "`initie` en ligne, `en_cours` après retrait au centre, `rendu`, `en_retard`, ou `annule`."
          "x-cjs-tier": "public"
        initie_a:
          type: "string"
          format: "date-time"
          description: "Date de la demande d'emprunt en ligne."
          "x-cjs-tier": "public"
        confirme_a:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Date du retrait effectif au centre, constaté au scan du badge."
          "x-cjs-tier": "public"
        date_retour_prevue:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Date de retour attendue, fixée à la confirmation."
          "x-cjs-tier": "public"
        rendu_a:
          type:
            - "string"
            - "null"
          format: "date-time"
          description: "Date du retour effectif, constatée au scan."
          "x-cjs-tier": "public"
        created_at:
          type: "string"
          format: "date-time"
          description: "Date de création de la ligne d'emprunt."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "M13 — watermark de réplication Data Hub : le statut évolue (confirmation, retour) sans qu'aucune colonne ne datait la modification."
          "x-cjs-tier": "public"
    programmesRow:
      type: "object"
      description: "Programmes sectoriels CJS (4 — Yaakaar, YEAH, YJC, EduPop). BRM = outil interne, exclu (décision Lead 2026-05-29)."
      properties:
        id:
          type: "string"
          description: "Identifiant du programme."
          "x-cjs-tier": "pseudonyme"
        slug:
          type: "string"
          description: "Identifiant lisible utilisé dans l'URL publique."
          "x-cjs-tier": "public"
        nom_programme:
          type: "string"
          description: "Nom du programme sectoriel — désigne un dispositif, jamais une personne."
          "x-cjs-tier": "public"
        actif:
          type: "boolean"
          description: "Programme en cours. Un programme inactif reste exporté pour l'historique."
          "x-cjs-tier": "public"
        created_at:
          type: "string"
          format: "date-time"
          description: "Date de création du programme."
          "x-cjs-tier": "public"
        updated_at:
          type: "string"
          format: "date-time"
          description: "Dernière modification. Watermark de réplication Data Hub."
          "x-cjs-tier": "public"
    opportunites_programmesRow:
      type: "object"
      description: "Rattachement d'une opportunité à un programme (GUIC-684 — M:N générique)."
      properties:
        opportunite_id:
          type: "string"
          description: "Offre rattachée — clé de jointure vers `opportunites`."
          "x-cjs-tier": "pseudonyme"
        programme_id:
          type: "string"
          description: "Programme de rattachement — clé de jointure vers `programmes`."
          "x-cjs-tier": "pseudonyme"
        principal:
          type: "boolean"
          description: "Programme affiché en priorité quand l'UI n'a la place que d'un badge. Au plus un `true` par offre."
          "x-cjs-tier": "public"
    ressources_programmesRow:
      type: "object"
      description: "Rattachement d'une ressource à un programme (GUIC-684 — M:N générique)."
      properties:
        ressource_id:
          type: "string"
          description: "Ressource rattachée — clé de jointure vers `ressources`."
          "x-cjs-tier": "pseudonyme"
        programme_id:
          type: "string"
          description: "Programme de rattachement — clé de jointure vers `programmes`."
          "x-cjs-tier": "pseudonyme"
        principal:
          type: "boolean"
          description: "Programme affiché en priorité quand l'UI n'a la place que d'un badge. Au plus un `true` par ressource."
          "x-cjs-tier": "public"
    evenements_programmesRow:
      type: "object"
      description: "Rattachement d'un événement à un programme (GUIC-684 — M:N générique)."
      properties:
        evenement_id:
          type: "string"
          description: "Événement rattaché — clé de jointure vers `evenements`."
          "x-cjs-tier": "pseudonyme"
        programme_id:
          type: "string"
          description: "Programme de rattachement — clé de jointure vers `programmes`."
          "x-cjs-tier": "pseudonyme"
        principal:
          type: "boolean"
          description: "Programme affiché en priorité quand l'UI n'a la place que d'un badge. Au plus un `true` par événement."
          "x-cjs-tier": "public"
    centres_programmesRow:
      type: "object"
      description: "Centres où un programme est déployé (GUIC-684 — extension acteurs). FACULTATIF, contrairement aux contenus : un centre est une infrastructure qui existe indépendamment des programmes qui s'y déploient."
      properties:
        centre_id:
          type: "string"
          description: "Centre rattaché — clé de jointure vers `centres`."
          "x-cjs-tier": "pseudonyme"
        programme_id:
          type: "string"
          description: "Programme de rattachement — clé de jointure vers `programmes`."
          "x-cjs-tier": "pseudonyme"
        principal:
          type: "boolean"
          description: "Programme affiché en priorité quand l'UI n'a la place que d'un badge. Au plus un `true` par centre."
          "x-cjs-tier": "public"
    organisations_programmesRow:
      type: "object"
      description: "Organisations partenaires d'un programme (GUIC-684 — extension acteurs). FACULTATIF : un partenaire peut publier des offres sans relever d'un programme."
      properties:
        organisation_id:
          type: "string"
          description: "Organisation rattachée — clé de jointure vers `organisations`."
          "x-cjs-tier": "pseudonyme"
        programme_id:
          type: "string"
          description: "Programme de rattachement — clé de jointure vers `programmes`."
          "x-cjs-tier": "pseudonyme"
        principal:
          type: "boolean"
          description: "Programme affiché en priorité quand l'UI n'a la place que d'un badge. Au plus un `true` par organisation."
          "x-cjs-tier": "public"
    Counts:
      type: "object"
      description: "Comptage par flux sur la fenêtre `since`, à comparer aux COUNT(*) de l'entrepôt."
      additionalProperties:
        type: "integer"
paths:
  "/export/utilisateurs":
    get:
      summary: "Exporter le flux utilisateurs"
      description: "Compte issu du SSO CJS. Aucun mot de passe n'est stocké ici : l'authentification appartient au SSO, ce modèle n'en cache que l'identité et les attributs de profilage."
      operationId: "export_utilisateurs"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de utilisateurs"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/utilisateursRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/profils_jeunes":
    get:
      summary: "Exporter le flux profils_jeunes"
      description: "Profil bénéficiaire, rattaché 1:1 à un compte. Porte les données déclaratives d'orientation et d'inclusion, toutes facultatives et auto-déclarées."
      operationId: "export_profils_jeunes"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de profils_jeunes"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/profils_jeunesRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/opportunites":
    get:
      summary: "Exporter le flux opportunites"
      description: "Table mère M3 v2 (CTI). Colonnes legacy (type, organisation) conservées pendant la migration data — supprimées en 178d après backfill. Les colonnes polymorphiques (typeId, programmeId, organisationId déjà présent, organisationLibelle, niveauEtudeMin) sont ajoutées en NULL dans cette étape (178b) pour ne pas casser les rows existantes ; elles passent NOT NULL en 178d. L'invariant XOR (1 et 1 seul sous-type non null) est garanti côté applicatif via OpportuniteService — cf. spec §8.4 et `opportunite-integrity.ts`."
      operationId: "export_opportunites"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de opportunites"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/opportunitesRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/candidatures":
    get:
      summary: "Exporter le flux candidatures"
      description: "Candidature d'un jeune à une opportunité, unique par couple (jeune, opportunité). Porte la traçabilité du consentement CGU exigée par la CDP."
      operationId: "export_candidatures"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de candidatures"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/candidaturesRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/evenements":
    get:
      summary: "Exporter le flux evenements"
      description: "Événement du calendrier CJS — formation, atelier, forum, webinaire, conférence ou cours en centre."
      operationId: "export_evenements"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de evenements"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/evenementsRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/inscriptions_evenements":
    get:
      summary: "Exporter le flux inscriptions_evenements"
      description: "Inscription d'un jeune à un événement, unique par couple (jeune, événement). Le statut `present` matérialise la présence constatée, pas l'intention."
      operationId: "export_inscriptions_evenements"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de inscriptions_evenements"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/inscriptions_evenementsRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/centres":
    get:
      summary: "Exporter le flux centres"
      description: "Centre CJS physique. Référentiel géographique de toute la fréquentation : réservations, passages badgés, emprunts."
      operationId: "export_centres"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de centres"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/centresRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/reservations":
    get:
      summary: "Exporter le flux reservations"
      description: "Réservation d'une ressource par un jeune. MVP : auto-validée (statut=Acceptee) à la création. Sprint+1 : workflow approval activable (StatutReservation.EnAttente)."
      operationId: "export_reservations"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de reservations"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/reservationsRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/checkins":
    get:
      summary: "Exporter le flux checkins"
      description: "Check-in physique d'un jeune dans un centre (KPI fréquentation principal)."
      operationId: "export_checkins"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de checkins"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/checkinsRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/ressources":
    get:
      summary: "Exporter le flux ressources"
      description: "Ressource documentaire du catalogue — PDF, vidéo, lien, guide ou outil."
      operationId: "export_ressources"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de ressources"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/ressourcesRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/consultations":
    get:
      summary: "Exporter le flux consultations"
      description: "Table INSERT-only. Aucune FK polymorphe (non supporté par Prisma) : l'intégrité repose sur l'applicatif, comme `CentreEvent`. Aucune rétention/purge (décision PO GUIC-688 : on conserve tout)."
      operationId: "export_consultations"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de consultations"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/consultationsRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/emprunts":
    get:
      summary: "Exporter le flux emprunts"
      description: "Emprunt d'un exemplaire par un bénéficiaire. GUIC-343. Cycle : initie (en ligne) → en_cours (scan badge au centre) → rendu (scan retour)."
      operationId: "export_emprunts"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de emprunts"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/empruntsRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/programmes":
    get:
      summary: "Exporter le flux programmes"
      description: "Programmes sectoriels CJS (4 — Yaakaar, YEAH, YJC, EduPop). BRM = outil interne, exclu (décision Lead 2026-05-29)."
      operationId: "export_programmes"
      parameters:
        - "$ref": "#/components/parameters/since"
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de programmes"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/programmesRow"
                  meta:
                    "$ref": "#/components/schemas/Meta"
        "400":
          description: "Curseur ou borne `since` malformés"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (300 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/opportunites_programmes":
    get:
      summary: "Exporter le flux opportunites_programmes (FULL_TABLE)"
      description: "Rattachement d'une opportunité à un programme (GUIC-684 — M:N générique). Réextrait intégralement à chaque run — pas de `since`, aucun watermark disponible."
      operationId: "export_opportunites_programmes"
      parameters:
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de opportunites_programmes"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/opportunites_programmesRow"
                  meta:
                    type: "object"
                    properties:
                      next_cursor:
                        type:
                          - "string"
                          - "null"
                      has_more:
                        type: "boolean"
                      generated_at:
                        type: "string"
                        format: "date-time"
        "400":
          description: "Curseur malformé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/ressources_programmes":
    get:
      summary: "Exporter le flux ressources_programmes (FULL_TABLE)"
      description: "Rattachement d'une ressource à un programme (GUIC-684 — M:N générique). Réextrait intégralement à chaque run — pas de `since`, aucun watermark disponible."
      operationId: "export_ressources_programmes"
      parameters:
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de ressources_programmes"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/ressources_programmesRow"
                  meta:
                    type: "object"
                    properties:
                      next_cursor:
                        type:
                          - "string"
                          - "null"
                      has_more:
                        type: "boolean"
                      generated_at:
                        type: "string"
                        format: "date-time"
        "400":
          description: "Curseur malformé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/evenements_programmes":
    get:
      summary: "Exporter le flux evenements_programmes (FULL_TABLE)"
      description: "Rattachement d'un événement à un programme (GUIC-684 — M:N générique). Réextrait intégralement à chaque run — pas de `since`, aucun watermark disponible."
      operationId: "export_evenements_programmes"
      parameters:
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de evenements_programmes"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/evenements_programmesRow"
                  meta:
                    type: "object"
                    properties:
                      next_cursor:
                        type:
                          - "string"
                          - "null"
                      has_more:
                        type: "boolean"
                      generated_at:
                        type: "string"
                        format: "date-time"
        "400":
          description: "Curseur malformé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/centres_programmes":
    get:
      summary: "Exporter le flux centres_programmes (FULL_TABLE)"
      description: "Centres où un programme est déployé (GUIC-684 — extension acteurs). FACULTATIF, contrairement aux contenus : un centre est une infrastructure qui existe indépendamment des programmes qui s'y déploient. Réextrait intégralement à chaque run — pas de `since`, aucun watermark disponible."
      operationId: "export_centres_programmes"
      parameters:
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de centres_programmes"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/centres_programmesRow"
                  meta:
                    type: "object"
                    properties:
                      next_cursor:
                        type:
                          - "string"
                          - "null"
                      has_more:
                        type: "boolean"
                      generated_at:
                        type: "string"
                        format: "date-time"
        "400":
          description: "Curseur malformé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/organisations_programmes":
    get:
      summary: "Exporter le flux organisations_programmes (FULL_TABLE)"
      description: "Organisations partenaires d'un programme (GUIC-684 — extension acteurs). FACULTATIF : un partenaire peut publier des offres sans relever d'un programme. Réextrait intégralement à chaque run — pas de `since`, aucun watermark disponible."
      operationId: "export_organisations_programmes"
      parameters:
        - "$ref": "#/components/parameters/cursor"
        - "$ref": "#/components/parameters/limit"
      responses:
        "200":
          description: "Page de organisations_programmes"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      "$ref": "#/components/schemas/organisations_programmesRow"
                  meta:
                    type: "object"
                    properties:
                      next_cursor:
                        type:
                          - "string"
                          - "null"
                      has_more:
                        type: "boolean"
                      generated_at:
                        type: "string"
                        format: "date-time"
        "400":
          description: "Curseur malformé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
  "/export/counts":
    get:
      summary: "Comptages de réconciliation, par flux, sur une fenêtre"
      description: "Distingue « le pipeline n'a pas planté » de « le pipeline a tout extrait » : à appeler après chaque run, avec le `since` de ce run, et comparer aux COUNT(*) de l'entrepôt sur la même fenêtre."
      operationId: "export_counts"
      parameters:
        - "$ref": "#/components/parameters/sinceRequis"
      responses:
        "200":
          description: "Comptages de la fenêtre"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  data:
                    "$ref": "#/components/schemas/Counts"
                  meta:
                    type: "object"
                    properties:
                      since:
                        type: "string"
                        format: "date-time"
                      generated_at:
                        type: "string"
                        format: "date-time"
        "400":
          description: "`since` absente ou illisible"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "401":
          description: "Clé API absente, invalide, ou non configurée côté serveur"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
        "429":
          description: "Quota dépassé (60 requêtes/minute par clé)"
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Erreur"
